body {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.el-centereto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
}

.el-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  z-index: 199;
  &__small-social {
    margin-right: 2px !important;
  }
  &__logo {
    padding-left: 33px;
    background: url('../images/logo.png') no-repeat left center;
    background-size: auto;
    &-title {
      display: block;
      margin-bottom: 4px;
      color: #ffffff;
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
    }
    p {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
    h1 {
      margin: 0;
      color: rgba(255, 255, 255, 0.25);
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &_centered {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__row {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    &-line {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 0.5px;
      }
      &:first-child {
        margin-bottom: 0;
      }
      &>div:first-child {
        display: inline-flex;
        align-items: center;
        width: 24px;
        margin-bottom: 10px;
      }
      a {
        display: inline-block;
        margin-right: 5px;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          text-decoration: none;
        }
        strong,
        b {
          color: #ffffff;
          font-size: 21px;
          font-weight: 700;
        }
      }
    }
  }
}

.el-title {
  display: block;
  margin: 40px 0 30px 0;
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.el-sub-title {
  display: block;
  margin: 0 0 90px 0;
  color: #ffffff;
  font-size: 41px;
  font-weight: 400;
  text-align: center;
  b,
  strong {
    color: #ffac00;
    font-weight: 700;
  }
}

.el-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin-bottom: 30px;
    &-title {
      display: block;
      color: #ffffff;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.76px;
      text-align: center;
    }
    &>img {
      display: block;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}

.el-pre-form {
  display: block;
  margin-bottom: 30px;
  font-size: 29px;
  font-weight: 700;
  color: #fffffe;
  text-align: center;
  b,
  strong {
    color: #ffad00;
  }
}

.el-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 40px;
  input,
  button {
    display: inline-block;
    width: 100%;
    max-width: 270px;
    margin-bottom: 4px;
  }
  input {
    padding: 22px 22px 22px 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: rgba(1, 1, 1, 0.7);
    font-size: 18px;
    font-weight: 400;
  }
  button {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #ffb400;
    background-image: linear-gradient(-96deg, #ffd200 0%, #ffa700 100%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      margin-right: 10px;
    }
  }
}

.el-bottom {
  display: block;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  a {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  p {
    display: inline-block;
    margin: 0;
  }
}

.h-m-r-35 {
  margin-right: 35px;
}

#video {
  position: fixed;
  background: transparent;
  z-index: -1;
}

.ytplayer-container {
  position: absolute;
  top: 0;
  z-index: -1;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}