@media (max-width: 1400px) {
  .el-title {
    margin: 10px 0;
    font-size: 38px;
  }
  .el-sub-title {
    margin-bottom: 30px;
    font-size: 36px;
  }
  .el-cards {
    margin-bottom: 0;
  }
  .el-form {
    margin-bottom: 20px;
  }
  .el-header {
    justify-content: space-around;
  }
  .el-header__logo {
    margin-bottom: 8px;
  }
  .h-m-r-35 {
    margin-right: 20px;
  }
  .el-header__row {
    margin-bottom: 8px;
  }
  .el-header_centered {
    justify-content: space-around;
  }
  .el-header__row-line p {
    text-align: center;
  }
  .el-title {
    font-size: 32px;
  }
  .el-sub-title {
    font-size: 26px;
  }
  .el-cards {
    justify-content: space-around;
  }
  .el-cards__card {
    margin-bottom: 20px;
  }
  .el-cards__card > img {
    width: 70px;
    margin-bottom: 10px;
  }
  .el-pre-form {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .el-form {
    justify-content: space-around;
    input {
      padding: 16px 32px;
    }
    button {
      padding: 10px;
    }
  }
  
}

@media (max-width: 992px) {
  #app {
    background: url('../images/bg.jpg') no-repeat center;
    background-size: cover;
  }
}

@media (max-width: 768px) {}