body {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.el-centereto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  min-height: 100vh;
}

.el-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  z-index: 199;
}

.el-header__small-social {
  margin-right: 2px !important;
}

.el-header__logo {
  padding-left: 33px;
  background: url("../images/logo.png") no-repeat left center;
  background-size: auto;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.el-header__logo-title {
  display: block;
  margin-bottom: 4px;
  color: #428430;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.el-header__logo p {
  display: block;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.el-header__logo h1 {
  margin: 0;
  color: rgba(255, 255, 255, 0.25);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.el-header__logo:hover, .el-header__logo:active, .el-header__logo:focus {
  opacity: 0.7;
  text-decoration: none;
}

.el-header_centered {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el-header__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.el-header__row-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el-header__row-line p {
  margin: 0;
  color: #bfbfbf;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.el-header__row-line:first-child {
  margin-bottom: 0;
}

.el-header__row-line > div:first-child {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  margin-bottom: 10px;
}

.el-header__row-line a {
  display: inline-block;
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.66);
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.el-header__row-line a:hover, .el-header__row-line a:active, .el-header__row-line a:focus {
  opacity: 0.7;
  text-decoration: none;
}

.el-header__row-line a strong,
.el-header__row-line a b {
  color: rgba(255, 255, 255, 0.83);
  font-size: 21px;
  font-weight: 700;
}

.el-title {
  display: block;
  margin: 40px 0 30px 0;
  color: #ffffff;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.el-sub-title {
  display: block;
  margin: 0 0 90px 0;
  color: #ffffff;
  font-size: 41px;
  font-weight: 400;
  text-align: center;
}

.el-sub-title b,
.el-sub-title strong {
  color: #ffac00;
  font-weight: 700;
}

.el-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.el-cards__card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 200px;
  margin-bottom: 30px;
}

.el-cards__card-title {
  display: block;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.76px;
  text-align: center;
}

.el-cards__card > img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

.el-pre-form {
  display: block;
  margin-bottom: 30px;
  font-size: 29px;
  color: #fffffe;
  text-align: center;
}

.el-pre-form b,
.el-pre-form strong {
  color: #ffad00;
}

.el-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 40px;
}

.el-form input,
.el-form button {
  display: inline-block;
  width: 100%;
  max-width: 270px;
  margin-bottom: 4px;
}

.el-form input {
  padding: 22px 22px 22px 40px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: rgba(1, 1, 1, 0.7);
  font-size: 18px;
  font-weight: 400;
}

.el-form button {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #ffdd2d;
  background-image: linear-gradient(-96deg, #ffd200 0%, #ffa700 100%);
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.el-form button:hover, .el-form button:active, .el-form button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.el-form button img {
  margin-right: 10px;
}

.el-bottom {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto;
  color: rgba(193, 191, 191, 0.67);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.el-bottom a {
  display: inline-block;
  color: rgba(193, 191, 191, 0.67);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.el-bottom a:hover, .el-bottom a:active, .el-bottom a:focus {
  opacity: 0.8;
  text-decoration: none;
}

.el-bottom p {
  display: inline-block;
  margin: 0;
}

.h-m-r-35 {
  margin-right: 35px;
}

#video {
  position: fixed;
  background: transparent;
  z-index: -1;
}

.ytplayer-container {
  position: absolute;
  top: 0;
  z-index: -1;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

@media (max-width: 1400px) {
  .el-title {
    margin: 10px 0;
    font-size: 38px;
  }
  .el-sub-title {
    margin-bottom: 60px;
    font-size: 36px;
  }
  .el-cards {
    margin-bottom: 30px;
  }
  .el-form {
    max-width: 900px;
    margin: 0 auto 10px auto;
    margin-bottom: 20px;
  }
  .el-header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .el-header__logo {
    margin-bottom: 8px;
  }
  .h-m-r-35 {
    margin-right: 150px;
  }
  .el-header__row {
    margin-bottom: 8px;
  }
  .el-header_centered {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .el-header__row-line p {
    text-align: center;
  }
  .el-title {
    font-size: 32px;
  }
  .el-sub-title {
    font-size: 24px;
  }
  .el-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .el-cards__card {
    margin-bottom: 20px;
  }
  .el-cards__card > img {
    width: 70px;
    margin-bottom: 10px;
  }
  .el-pre-form {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .el-form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .el-form input {
    margin-right: 6px;
    padding: 14px 28px;
  }
  .el-form button {
    padding: 6px;
  }
}

@media (max-width: 992px) {
  #app {
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
  }
}
